<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website{% endblock %}</title>

    
    {% block style %}
    
    {% endblock %}
</head>
<body>


        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock %}

        {% block scripts %}
        <!-- This block will be overridden by child templates -->
        {% endblock %}


</body>
</html>
